################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Collatz/Collatz/Debug
/Collatz/Debug
/Collatz/x64/Debug
/Collatz/Collatz/x64/Debug
/Collatz/.vs/Collatz/v16
/ProjEuler22-NamesScore/.vs/ProjEuler22-NamesScore/v16
/ProjEuler22-NamesScore/ProjEuler22-NamesScore/Debug
/ProjEuler22-NamesScore/ProjEuler22-NamesScore/x64/Debug
/ProjEuler22-NamesScore/x64/Debug
